@import "reset.sass"
@import "common.sass"
@import "grid.sass"

//#codeInputs
//	display: flex
//
//	& > div
//		flex: 1

*
	box-sizing: border-box

#iframe
	background: rgba(255,255,255,0.2)
	border-style: solid
	border-color: rgba(0, 0, 0, 0.2)
	height: 300px
	width: 100%

header button, header [role="button"]
	flex: 1
	height: 36px
	min-width: 42px
	max-width: 64px
	padding: 0 8px
	border: 0 none
	border-radius: 1px
	margin-left: 5px
	font-weight: 700

button, [role="button"]
	padding: 0 8px
	border: 0 none
	border-radius: 1px
	margin-left: 5px
	min-height: 42px
	font-weight: 700