@import '../../node_modules/muicss/lib/sass/mui/colors'

//#codeInputs
//	display: flex
//
//	& > div
//		flex: 1

*
	box-sizing: border-box

#iframe
	background: rgba(255,255,255,0.2)
	border-style: solid
	border-color: rgba(0, 0, 0, 0.2)
	height: 300px
	width: 100%

body
	background-color: mui-color('black-alpha-87')
	color: mui-color('white-alpha-70')

.mui-tabs__bar > li > a
	color: inherit
