@use "sass:color"

$textColor: white
$linkColor: rgb(50, 159, 255)

/*			---- Primary text / Icons ----			*/
body,
header button,
header [role="button"],
button,
input[type='number'],
input[type='checkbox'],
input[type='radio'],
select,
#searchInput
	color: $textColor

select:hover
	color: unset !important

/*		--- Secondary text / Base Color ----		*/
.panel-item,

input[type='text'],
input[type='number'],
input[type='url'],
textarea,

#tooltip,
p,
.list-style-inside.list-style-disc,
details summary
	color: rgba($textColor, 0.8)

details summary ~ *,
time
	color: rgba($textColor, 0.6)

/*			---- Disabled / Hint text ----			*/
footer
	color: rgba($textColor, 0.3)

/*			---- Stream Title / Links ----			*/
a
	color: rgba($linkColor, 0.8)



input,
textarea
	color: rgba($textColor, 0.8)

input[disabled],
input[readonly],
textarea[disabled],
textarea[readonly],
button[disabled]
	color: rgba($textColor, 0.5)


footer [data-has-update="true"]
	color: lightpink


input:invalid
	background-color: lightpink
	color: red
	font-weight: 700

