html(lang='fr')
	head
		meta(charset='UFT-8')
		block title
			title Z-ToolBox

		block head-container
			block head
			block head-css
			block head-js

	body
		block body
			block header
			main
				block main
			block footer

		block footer-css
		block footer-js