<ul id="wsClientNames" class="list-style-inside list-style-disc">
	{%- for client in wsClientNames %}
		{% if client.extensionId is empty %}
			<li>{{ client.browserName }}</li>
		{% else %}
			<li title="{{ client.userAgent }}">{{ client.extensionId }}
				{%- if client.notificationSupport or client.sendingWebsitesDataSupport -%}
					&nbsp;(support&nbsp;:&nbsp;
					{%- if client.notificationSupport -%}notification{%- endif -%}
					{%- if client.notificationSupport and client.sendingWebsitesDataSupport %}, {% endif -%}
					{%- if client.sendingWebsitesDataSupport -%}websites data{%- endif -%}
					)
				{%- endif %}&nbsp;: {{ client.browserName -}}
			</li>
		{% endif %}
	{%- endfor -%}
</ul>