<ul id="wsClientNames" class="list-style-inside">
	{%- for client in wsClientNames %}
		{% if client.extensionId|length === 0 %}
			<li>{{ client.browserName }}</li>
		{% else %}
			<li title="{{ client.extensionId -}}">
				<details>
					<summary>{{ client.browserName }}
						{%- if client.notificationSupport -%}
							&nbsp;(support&nbsp;:&nbsp;{%- if client.notificationSupport -%}notification{%- endif -%})
						{%- endif -%}
					</summary>
					<p>{{ client.userAgent }}</p>
				</details>
			</li>
		{% endif %}
	{%- endfor -%}
</ul>