<ul id="wsClientNames" class="list-style-inside list-style-disc">
	{%- for client in wsClientNames %}
		{% if client.extensionId is empty %}
			<li>{{ client.browserName }}</li>
		{% else %}
			<li title="{{ client.userAgent }}">{{ client.extensionId }}{% if client.notificationSupport %} (notification support){% endif %} : {{ client.browserName }}</li>
		{% endif %}
	{%- endfor -%}
</ul>