extends _layout

block title
	title iframe

block head
	// HEAD

block head-js
	script(src="./lib/flems/flems.html", type="text/javascript", charset="utf-8")
	script(src='js/iframe.js', type="module")

block body
