extends _layout



block header
	header
		label.tab(for='main')
			i.material-icons home_repair_service
			span(data-translate-id="main") Main
		label.tab(for='codeTester')
			i.material-icons code
			span(data-translate-id="codeTester") Code tester
		label.tab(for='settings')
			i.material-icons settings
			span(data-translate-id="settings") Settings
		label.tab(for='infos')
			i.material-icons dashboard
			span(data-translate-id="infos_section") Infos

block head-css
	link(rel='stylesheet', href='lib/codemirror/lib/codemirror.css')
	link(rel='stylesheet', href='lib/codemirror/theme/monokai.css')

block head-js
	script(src='lib/vue/vue.runtime.js', type='module')
	script(src='lib/codemirror/lib/codemirror.js')
	script(src='lib/codemirror/mode/htmlmixed/htmlmixed.js')
	script(src='lib/codemirror/mode/javascript/javascript.js')
	script(src='lib/codemirror/mode/css/css.js')
	script(src='lib/codemirror/mode/xml/xml.js')



block append head-css
	link(rel='stylesheet', href='css/scrollbar.css')
	link(rel='stylesheet', href='css/fonts.css')
	link(rel='stylesheet', href='css/index.css')

block append head-js
	script(src='index.js', type='module')
	script(src='settings.js', type='module')
	script(src='js/settings/settings.js', type='module')
	script(src='js/translation-api.js', type='module')
	script(src='js/theme/color.js', type='module')
	script(src='js/theme/theme.js', type='module')
	script(src='js/index.js', type='module')
