extends _layout



block header
	header
		label.tab(for='main')
			i.material-symbols-rounded home_repair_service
			span(data-translate-id="main") Main
		label.tab(for='settings')
			i.material-symbols-rounded settings
			span(data-translate-id="settings") Settings
		label.tab(for='infos')
			i.material-symbols-rounded dashboard
			span(data-translate-id="infos_section") Infos

block head-css

block head-js



block append head-css
	link(rel='stylesheet', href='css/scrollbar.css')
	link(rel='stylesheet', href='css/fonts.css')
	link(rel='stylesheet', href='css/index.css')
	link#theme-stylesheet(rel='stylesheet', href='css/theme/theme-dark.css', media="all", data-theme="dark", data-background_color="#000000")

block append head-js
	script(src="js/_fix_exports.js")
	script(src="js/_import-map-loader.js")
	script(src='js/settings/settings.js', type='lazy-module')
	script(src='js/translation-api.js', type='lazy-module')
	script(src='js/theme/color.js', type='lazy-module')
	script(src='js/theme/theme.js', type='lazy-module')
	script(src='js/index.js', type='lazy-module')

block main
	include index-main
