extends _layout



block head
	meta(http-equiv="Content-Security-Policy", content="default-src 'none'; script-src 'self'; object-src 'none'; style-src 'self'; img-src 'self'; media-src 'self'; frame-src 'self'; font-src 'self'; connect-src 'none'")

block head-css
	link(rel='stylesheet', href='lib/codemirror/lib/codemirror.css')
	link(rel='stylesheet', href='lib/codemirror/theme/monokai.css')

block head-js
	script(src='lib/codemirror/lib/codemirror.js')
	script(src='lib/codemirror/mode/htmlmixed/htmlmixed.js')
	script(src='lib/codemirror/mode/javascript/javascript.js')
	script(src='lib/codemirror/mode/css/css.js')
	script(src='lib/codemirror/mode/xml/xml.js')



block append head-css
	link(rel='stylesheet', href='css/index.css')

block append head-js
	script(src='js/index.js')
