<form id="settingsForm">
	{% for group in groups %}
		<input class="hidden" type="radio" name="setting-group" value="{{ group }}"
			   id="setting-group-{{ group }}" data-on-group-change="" {% if group == selected_group %} checked{% endif %}/>
		<label class="tab setting-group"
			   for="setting-group-{{ group }}"
			   data-translate-id="group_{{ group }}"></label>
	{% endfor %}
	{% for group, list in settingsByGroup %}
		{% for id, conf in list %}
			<div class="pref-group{% if group != selected_group %} group-hidden{% endif %}" data-group-show="{{ group }}">
				<div class="pref-container">
					{% if conf.type in ['color', 'string', 'integer', 'json', 'yaml', 'path', 'paths'] %}
						<label
							for="pref-{{ id }}"
							data-translate-id="preferences.{{ id }}_title"
							data-translate-title="preferences.{{ id }}_description"></label>
					{% endif %}

					{% if conf.type == 'string' and conf.options.displayAs == 'textarea' %}
						<textarea  id="pref-{{ id }}" name="{{ id }}" data-on-change="" disabled="disabled"></textarea>
					{% elseif conf.type in ['color', 'string'] %}
						<input
							type="{% if conf.type == 'string' %}text{% else %}{{ conf.type }}{% endif %}" id="pref-{{ id }}" name="{{ id }}"
							data-on-change="" disabled="disabled"/>
					{% endif %}

					{% if conf.type in ['button'] %}
						<button id="pref-{{ id }}" name="{{ id }}" type="button"
								data-translate-id="preferences.{{ id }}_title"
								data-translate-title="preferences.{{ id }}_description"  disabled="disabled"></button>
					{% endif %}

					{% if conf.type == 'path' and conf.opts.asText %}
						<input type="text" id="pref-{{ id }}" name="{{ id }}" data-on-change="" disabled="disabled"/>
					{% endif %}

					{% if conf.type == 'integer' %}
						<input
							type="{% if conf.rangeInput %}range{% else %}number{% endif %}"
							{%- if conf.minValue >= 0 %}min="{{ conf.minValue }}" {% endif %}
							{%- if conf.maxValue >= 0 %}max="{{ conf.maxValue }}" {% endif %}
							{%- if conf.stepValue >= 0 %}step="{{ conf.stepValue }}" {% endif %}
							id="pref-{{ id }}" name="{{ id }}"
							data-on-change="" data-on-output-update="" disabled="disabled"/>
					{% endif %}

					{% if conf.type in ['json', 'yaml'] %}
						<textarea
							class="auto-height" id="pref-{{ id }}" name="{{ id }}"
							data-on-change="" disabled="disabled" data-type="{{ conf.type }}"></textarea>
					{% endif %}

					{% if conf.type == 'integer' and conf.rangeInput %}
						<output class="output" for="pref-{{ id }}"></output>
					{% endif %}

					{% if conf.type in ['path', 'paths'] and conf.opts.asFile %}
						<label class="button small" for="pref-{{ id }}_file"
							   data-translate-id="{% if conf.opts.asFile %}select_file{% else %}select_path{% endif %}"></label>
					{% endif %}

					{% if conf.type in ['path', 'paths'] and conf.opts.asFile %}
						<input
							class="hidden" type="button" id="pref-{{ id }}_file" name="{{ id }}"
							data-on-click-path-setting="{{ id }}" />
					{% endif %}

					{% if conf.type in ['bool'] %}
						<input type="checkbox"
							   id="pref-{{ id }}"
							   name="{{ id }}"
							   data-on-change=""
							   disabled="disabled" />
						<label
							for="pref-{{ id }}" data-translate-id="preferences.{{ id }}_title"
							data-translate-title="preferences.{{ id }}_description"></label>
					{% endif %}

					{% if conf.type == 'menulist' %}
						{% if conf.options|length <= 3 %}
							{% for choice in conf.options %}
								<input type="radio" id="pref-{{ id }}-{{ choice.value }}" name="{{ id }}"
									   value="{{ choice.value }}" data-on-change="" disabled="disabled"/>
								<label
									for="pref-{{ id }}-{{ choice.value }}"
									data-translate-id="preferences.{{ id }}-options-{{ choice.value }}"
									data-translate-title="preferences.{{ id }}_description"></label>
							{% endfor %}
						{% else %}
							<label for="pref-{{ id }}" data-translate-id="preferences.{{ id }}_title"
								   data-translate-title="preferences.{{ id }}_description"></label>
							<select
								id="pref-{{ id }}" name="{{ id }}"
								data-on-change=""
								disabled="disabled">
								{% for choice in conf.options %}
									<option value="{{ choice.value }}" data-translate-id="preferences.{{ id }}-options-{{ choice.value }}"></option>
								{% endfor %}
							</select>
						{% endif %}
					{% endif %}
				</div>
			</div>
		{% endfor %}
	{% endfor %}
</form>
