extends _layout

block head
	meta(http-equiv="Content-Security-Policy", content="default-src 'none'; script-src 'self' 'unsafe-eval'; object-src 'none'; style-src 'self'; img-src 'self' data:; media-src 'self'; frame-src 'self'; font-src 'self'; connect-src 'none'")

block head-css
	link(rel='stylesheet', href='css/reset.css')
	link(rel='stylesheet', href='css/common.css')
	link(rel='stylesheet', href='css/shortcuts.css')

block head-js
	script(src='js/shortcuts.js')

block body
	main(xmlns:v-on="http://www.w3.org/1999/xhtml")
		p
			input#search.block.w100(v-model.trim='search', v-focus='', v-on:keyup.prevent.enter='onEnter', v-on:keyup.esc='onEscape', tabindex=0)
		section
			ul.list
				li(v-for='(item, index) in filteredList', :key="item.path", :tabindex='index + 1', v-on:keyup.enter='onItemTrigger(item)', v-on:click='onItemTrigger(item)')
					img(:src="item.fileIcon", v-if="typeof item.fileIcon === 'string' && item.fileIcon.length > 0")
					| {{ item.filename }}
