{% if versions -%}
	<p>Node.js {{versions.node}}, Chromium {{versions.chrome}}, Electron {{versions.electron}} (current i18next language :&nbsp;<span data-translate-id='language'></span>)</p>
{%- endif %}

{% if versionState -%}
	<p>Version actuelle basée sur la branche {{versionState.branch}}, commit du {{versionState.commitDate.toLocaleString()}}.</p>
{%- endif %}

{% if processArgv|length > 0 -%}
	<p>Arguments : {{processArgv|join(', ')}}</p>
{%- endif %}

{% if internetAddress -%}
	<p>Adresse ip : {{internetAddress}}</p>
{%- endif %}

{% if wsClientNames -%}
	<p>Web extensions :</p>
	{% include '_wsClientNames.twig' %}
{%- endif %}

{% if chromeNativeInstallersStates -%}
	<p>Chrome native installations :</p>
	<ul class="list-style-inside list-style-disc">
		{%- for browser, item in chromeNativeInstallersStates -%}
			<li title="{{ item != false ? item.path : '' }}">{%- if item == false -%}❌{%- else -%}✅{%- endif %} {{ browser }}</li>
		{%- endfor -%}
	</ul>
{%- endif %}